= simple_form_for @game do |f|
  - if @game.errors.any?
    #error_explanation
      %h2= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
      %ul
        - @game.errors.full_messages.each do |msg|
          %li= msg
  = f.input :location, :placeholder => 'Location', :label => false
  / = f.input :sides, :placeholder => 'Number of Teams', :label => false
  / = f.input :format, :placeholder => 'Players per Team', :label => false
  = f.input :date, :as => :datepicker, :input_html => { :type => "text" }, :placeholder => 'When?', :label => false
  = f.input :time, :as => :time, :minute_step => 15
 
  .actions
    = f.submit 'Create Game', :class => 'btn btn-primary'
