/ %p#notice= notice

%p
  %b Location:
  = @game.location
%p
  %b Time:
  = @game.time.strftime("%H:%M")
%p
  %b Date:
  = @game.date
.row-fluid
  .span3
    %table.table.table-striped
      %thead
        %tr
          %th 
            .btn.btn-success
              Selected
          %th 
      %tbody
        - @game.game_players.selected.each do |assoc|
          %tr
            %td
              = assoc.player.name
            %td
              = link_to '->', game_game_player_change_status_url(assoc.game, assoc, status: :available), {:class => 'btn btn-primary btn-mini'}
  .span3
    %table.table.table-striped
      %thead
        %tr
          %th 
            .btn.btn-primary
              Available
          %th 
      %tbody
        - @game.game_players.available.each do |assoc|
          %tr
            %td
              = assoc.player.name
            %td 
              = link_to '<-', game_game_player_change_status_url(assoc.game, assoc, status: :selected), {:class => 'btn btn-success btn-mini'}
              = link_to '->', game_game_player_change_status_url(assoc.game, assoc, status: :unavailable), {:class => 'btn btn-danger btn-mini'}
  .span3
    %table.table.table-striped
      %thead
        %tr
          %th 
            .btn.btn-danger
              Unavailable
          %th
      %tbody
        - @game.game_players.unavailable.each do |assoc|
          %tr
            %td
              = assoc.player.name
            %td
              = link_to '<-', game_game_player_change_status_url(assoc.game, assoc, status: :available), {:class => 'btn btn-primary btn-mini'}
  .span3
    = link_to 'Add player', new_game_player_path(@game) 
    %table.table.table-striped
      %thead
        %tr
          %th 
            .btn
              Invited
          %th 
      %tbody
        - @game.game_players.players.each do |assoc|
          %tr
            %td
              = assoc.player.name
            %td
              .dl-horizontal
                = link_to '<-', game_game_player_change_status_url(assoc.game, assoc, status: :available), {:class => 'btn btn-primary btn-mini'}
                = link_to '<-', game_game_player_change_status_url(assoc.game, assoc, status: :unavailable), {:class => 'btn btn-danger btn-mini'}
    = link_to 'Add player', new_game_player_path(@game)          
.row
  .span3.pull-right
    = link_to 'Send invites', send_invites_game_path(@game), method: :post, class: 'btn'
%p
  = link_to 'Add player', new_game_player_path(@game)
%p
  = link_to 'Get from gmail contacts', GmailContacts::Google.authentication_url(gmail_game_players_url(@game))
%br
= link_to 'Edit', edit_game_path(@game)
\|
= link_to 'Back', games_path
